:root{
    --default-radius: 5px;
    --default-color: black;
    --default-spacing: 10px;
    --secondary-color: beige;
}

body{
    all: unset;
}

    .container{
        margin: 40px;
        padding: var(--default-spacing);
        width: 500px;
        border: 2px solid var(--default-color);
        border-radius: var(--default-radius);

        display: flex;
        flex-direction: column;
        gap: 10px;
    }
        .container input{
            width: 250px;
        }

        .container fieldset{
            width: 350px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }

    .library{
        margin: 40px;
        padding: var(--default-spacing);
        border: 2px dotted var(--default-color);
        border-radius: var(--default-radius);

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }

        .library div{
            background-color: var(--secondary-color);
            border: 2px dotted var(--default-color);
            padding: 5px;

            display: flex;
            flex-direction: column;
        }

        .library img{
            align-self: self-end;

        }